# Ignore the testWrite file, it will have a new date everytime the unit tests are run
testWrite.mapleaf
testSimConfigWrite.mapleaf
testCSVLogOutput.csv
TempFigureDir

#Ignore Pycache
__pycache__

#Remove Python intermediate files
*.pyc
/dist/
/*.egg-info
build/
.eggs

#Remove .vscode files
*.vscode

#Notcom output files
for00[123456789].dat
for01*

#Simulation Logs
*simulationLog*
*forceEvaluationLog*
*monteCarloLog*
*controlSystemEvaluationLog*
*Log*.csv
MAPLEAF/Examples/Simulations/*Run*

# Ignore pypy environment
my-pypy-env

# Ignore profiling outputs
*.prof
~lock*

# Ignore code coverage output
.coverage

# Ignore convergence result files
convergenceResult.csv
adaptiveConvergenceResult.csv
adaptiveConvergenceResult.xlsx
convergenceResult.xlsx
~*

# Exclude coverage info
htmlcov
coverage.xml

# Exclude class/package diagrams
packages*.png
packages*.dot
packages*.pdf
classes*.png
classes*.dot
classes*.pdf

# Exclude regression testing plots
MAPLEAF/Examples/V&V/*.pdf
MAPLEAF/Examples/V&V/*.png
MAPLEAF/Examples/V&V/*.eps
MAPLEAF/Examples/V&V/*/*.pdf
MAPLEAF/Examples/V&V/*/*.png
MAPLEAF/Examples/V&V/*/*.eps
MAPLEAF/Examples/V&V/*/*/*.pdf
MAPLEAF/Examples/V&V/*/*/*.png
MAPLEAF/Examples/V&V/*/*/*.eps

# Exlude temporary files generated with regression testing results in them
*_newExpectedResultsRecorded*

# Ignore Cython intermediate .c files & compiled files
*Cython*.c
*Cython*.cpp
*Cython*.pyd
*Cython*.so
*Cython*.html

clean.sh

# Documentation
doc
docs
MAPLEAF/V&V

# PySwarms logs
*.log

# Notebooks
*.ipynb

# Optimization continuation files
*_continue.mapleaf

# Airspeed Velocity Benchmarking Results
.asv