recursive-exclude test
exclude test/testUtilities.py
exclude test/test_Utilities.py
exclude test/test_Interpolation.py

include requirements.txt
include requirements_Dev.txt

include README.md
include README_Dev.md
include LICENSE

include SimDefinitionTemplate.mapleaf
include batchRunTemplate.mapleaf

include MAPLEAF/IO/*.pxd*
include MAPLEAF/IO/*.pyx*
include MAPLEAF/Motion/*.pxd*
include MAPLEAF/Motion/*.pyx*
include MAPLEAF/Rocket/*.pyx*

include MAPLEAF/Examples/Wind/*
include MAPLEAF/Examples/Simulations/*.mapleaf*
include MAPLEAF/Examples/BatchSims/*.mapleaf*
include MAPLEAF/Examples/V&V/*.csv
include MAPLEAF/Examples/V&V/*/*.csv
include MAPLEAF/Examples/V&V/*/*/*.csv
include MAPLEAF/Examples/Motors/*
include MAPLEAF/Examples/TabulatedData/*
include MAPLEAF/ENV/*.txt*
include MAPLEAF/IO/*.jpg*