recursive-exclude test
exclude test/testUtilities.py
exclude test/test_Interpolation.py
exclude test/test_SimulationRunners.py

include requirements.txt
include SimDefinitionTemplate.mapleaf

include MAPLEAF/Motion/*.pxd*
include MAPLEAF/Motion/*.pyx*
include MAPLEAF/Rocket/*.pyx*

include MAPLEAF/Examples/Wind/*
include MAPLEAF/Examples/Simulations/*.mapleaf*
include MAPLEAF/Examples/Motors/*
include MAPLEAF/Examples/TabulatedData/*
include MAPLEAF/ENV/*.txt*
include MAPLEAF/IO/*.jpg*