matplotlib==3.2.2   # Plots
numpy>=1.16.3       # Reading tables
scipy>=1.3.0        # Interpolation / Statistics
pandas>=1.0.3       # Dataframes
pyserial>=3.4       # HIL
tqdm>=4.0           # Progress bars
cython              # Compiling Cython code
pyswarms            # Optimization
pyyaml              # Secretly required by pyswarms
